/* mystyles.css */

html,
body{
    height: 100%;
}
.box{
    position: relative;
    max-width:800px;
    padding :80px;
    background:rgba(255,255,255,.2);
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}
img {
    max-width: 100%;
}

nav {
	float-right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline;
	margin-left: 70px;
	padding-top: 23px;
}

nav a {
	color:#b2300c;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
}

nav a:hover {
	color:#000;
}
.section-content {
    padding: 5rem 0;
}

