*{
    margin:0;
    padding: 0;
}
.maintitle{
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    text-align: left;
    padding-top: 50px;
}
.text{
    color: #fff;
    font-weight: 200;
    text-align: left;
    font-size: 100%;
    border: 50%;
    border-style: solid;
}
#about-me .btn-light{
    margin: auto;
    
}
#nav-bar{
    position: sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image: linear-gradient(to right,midnightblue,royalblue );
    padding: 0 !important;
}
.navbar-brand{
    color:#fff !important;
    font-weight: 600;
}
.navbar-nav li{
    padding: 0 10 px;
}
.navbar-nav li a{
    color:#fff !important;
    font-weight: 600;
    text-align: right;
}

#web-prog{
    padding: 80px;
}
.wp-img{
    width: 100px;
    margin-top: 20px;
}
.wp{
    padding: 20px;
}
.prog-img{
    width: 100px;
    margin-top: 20px;
}
.data-img{
    width: 100px;
    margin-top: 20px;
}

.carousel-item{
     margin: 5%;
}

#last{
    padding:80px
}
.latest{
    padding: 20px;

}

#column{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;   
}

.card-title{
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
}
.card-text{
    font-style: oblique;
}

.card-blockquote{
    font: 1em sans-serif;
}
#footer{
    background-color: grey;
    color: #fff;
    font-family:'Times New Roman', Times, serif
}